@import '../base/variables';

.place {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 20px;
  height: 20px;
  transform: translate(-10px, -10px);
  background-color: white;
  z-index: $z-index-biggest + 1;

  &:hover {
    & + .place-background {
      background-color: red;
    }
  }
}

.place-background {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 26px;
  height: 26px;
  transform: translate(-13px, -13px);
  background-color: black;
  z-index: $z-index-biggest;
}
