@import '../base/variables';

.place {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 20px;
  height: 20px;
  transform: translate(-10px, -10px);
  background-color: $place-color;
  z-index: $z-index-tier-4;

  &:hover {
    & + .place-background {
      background-color: $place-background-color-selected;
    }
  }
}

.place-background {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 26px;
  height: 26px;
  transform: translate(-13px, -13px);
  background-color: $place-background-color;
  z-index: $z-index-tier-3;
}
