@import '../base/variables';

.place {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 20px;
  height: 20px;
  transform: translate(-10px, -10px);
  background-color: $place-unsettled-color;
  z-index: $z-index-tier-4;

  &:hover {
    & + .place-background {
      background-color: $place-background-color-selected;
    }
  }
}

.place-orange {
  background-color: $player-orange-color;
}

.place-red {
  background-color: $player-red-color;
}

.place-background {
  shape-outside: circle(50%);
  clip-path: circle(50%);
  width: 26px;
  height: 26px;
  transform: translate(-13px, -13px);
  background-color: $place-background-color;
  z-index: $z-index-tier-3;
}

.place-caption {
  transform: translate(-13px, -10px);
  font-size: 13px;
  width: 26px;
  height: 26px;
  text-align: center;
  z-index: $z-index-tier-4;
  pointer-events: none;
}
