@import '../base/variables';

.road {
  border-color: $road-background-color;
}

.road:hover {
  border-color: $road-background-color-selected;
}

.road-orange {
  background-color: $road-orange-color;
}

.road-red {
  background-color: $road-red-color;
}
