@import "../base/variables";
// @import "../base/mixins";

.player-current {
  border: 5px solid black;
}

.player-red {
  background-color: $player-red-color;
}

.player-orange {
  background-color: $player-orange-color;
}

.player-blue {
  background-color: $player-blue-color;
}

.player-white {
  background-color: $player-white-color;
}

.card-brick {
  background-color: $color-brick;
}
.card-lumber {
  background-color: $color-lumber;
}
.card-grain {
  background-color: $color-grain;
}
.card-wool {
  background-color: $color-wool;
}
.card-ore {
  background-color: $color-ore;
}
