@import "../base/variables";
// @import "../base/mixins";

.player-red {
  background-color: $player-red-color;
}

.player-orange {
  background-color: $player-orange-color;
}

.player-current {
  border: 5px solid black;
}
