@import "./variables";

$field-width: 135px;
$field-height: 117px;
$field-width-margin: 10px;
$field-height-margin: 9px;
$field-width-epsilon: 1px;
$field-height-epsilon: 1px;

$background-width: $field-width + 2*$field-width-margin + $field-width-epsilon;
$background-height: $field-height + 2*$field-height-margin + $field-height-epsilon;

$caption-color: black;
$caption-color-danger: red;
$caption-color-light: white;

@mixin background-sized {
  width: $background-width;
  height: $background-height;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon {
  shape-outside: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  transition: transform .2s;
  margin: 0 !important; // to override Bulma's styles
  padding: 0;

  &.field {
    width: $field-width;
    height: $field-height;
    z-index: $z-index-bigger;

    &:hover {
      & + .background {
        background-color: $background-color-selected;
      }
    }
  }

  &.background {
    @include background-sized;
    background-color: $background-color;
  }
}

.caption {
  z-index: $z-index-biggest;
  color: $caption-color;
  pointer-events: none;
  @include background-sized;
  @include flex-center;

  &.caption-2,
  &.caption-12 {
    font-size: 32px;
  }

  &.caption-3,
  &.caption-11 {
    font-size: 34px;
  }

  &.caption-4,
  &.caption-10 {
    font-size: 36px;
  }

  &.caption-5,
  &.caption-9 {
    font-size: 38px;
  }

  &.caption-6,
  &.caption-8 {
    font-size: 40px;
    color: $caption-color-danger;
  }

  &.caption-7 {
    font-size: 40px;
    color: $caption-color-light;
  }
}
