@import "./variables";

$field-width: 90px;
$field-height: 80px;
$field-width-margin: 5px;
$field-height-margin: 3.5px;
$field-width-epsilon: 1px;
$field-height-epsilon: 1px;

.hexagon {
  shape-outside: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  transition: transform .2s;

  &.field {
    width: $field-width;
    height: $field-height;
    z-index: $z-index-bigger;

    &:hover {
      transform: scale(1.5);
      z-index: $z-index-biggest;
    }
  }

  &.background {
    width: $field-width + 2*$field-width-margin + $field-width-epsilon;
    height: $field-height + 2*$field-height-margin + $field-height-epsilon;
    background-color: $background-color;
  }
}
