$color-desert: black;
$color-wool: lightgreen;
$color-brick: darkred;
$color-lumber: green;
$color-grain: yellow;
$color-ore: lightgrey;

$text-color-desert: white;
$text-color-wool: black;
$text-color-brick: black;
$text-color-lumber: black;
$text-color-grain: black;
$text-color-ore: black;

$background-color: #333333;
$background-color-selected: red;

$z-index-normal: 0;
$z-index-bigger: 1;
$z-index-biggest: 2;
$z-index-biggester: 3;

$hexWidth: 155px;
$hexHeight: 135px;

$marginWidth: 5px;
$marginHeight: 5px;

$canvasWidth: 2*$marginWidth + 4*$hexWidth;
$canvasHeight: 2*$marginHeight + 5*$hexHeight;
