$color-desert: black;
$color-wool: lightgreen;
$color-brick: darkred;
$color-lumber: green;
$color-grain: yellow;
$color-ore: lightgrey;

$text-color-desert: white;
$text-color-wool: black;
$text-color-brick: black;
$text-color-lumber: black;
$text-color-grain: black;
$text-color-ore: black;

$player-red-color: salmon;
$player-orange-color: orange;
$player-blue-color: blue;
$player-white-color: grey;

$hover-color: red;

$background-color: #555555;
$background-color-selected: $hover-color;

$z-index-tier-1: 0;
$z-index-tier-2: 1;
$z-index-tier-3: 2;
$z-index-tier-4: 3;

$hexWidth: 155px;
$hexHeight: 135px;

$marginWidth: 20px;
$marginHeight: 20px;

$canvasWidth: 2*$marginWidth + 4*$hexWidth;
$canvasHeight: 2*$marginHeight + 5*$hexHeight;

$field-width: 135px;
$field-height: 117px;
$field-width-margin: 10px;
$field-height-margin: 9px;
$field-width-epsilon: 1px;
$field-height-epsilon: 1px;

$background-width: $field-width + 2*$field-width-margin + $field-width-epsilon;
$background-height: $field-height + 2*$field-height-margin + $field-height-epsilon;

$caption-color: black;
$caption-color-danger: red;
$caption-color-light: white;

$place-unsettled-color: white;
$place-background-color: black;
$place-background-color-selected: $hover-color;

$road-background-color: black;
$road-background-color-selected: $hover-color;
