<%= form_tag(game_path, method: :patch) do %>
  <%= hidden_field_tag(:state, state) %>
  <div class="field">
    <div class="control">
      <%= submit_tag("Buy card", class: 'button is-link', disabled: disabled) %>
    </div>
  </div>
<% end %>
