<%= form_tag(game_path, method: :patch) do %>
  <%= hidden_field_tag(:state, state) %>
  <div class="columns">
    <div class="column">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= submit_tag("Buy settlement", class: 'button is-link', disabled: disabled) %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= text_field(:settlement, :spot_index, class: 'input', required: true, disabled: disabled, placeholder: 'Settlement') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
