<div class="map-board">
  <div class="fields">
    <% fields.each.with_index do |field, index| %>
      <%= render partial: 'field', locals: { field: field } %>
    <% end %>
  </div>
  <div class="places">
    <% places.each do %>
      <%= render partial: 'place' %>
    <% end %>
  </div>
</div>
