<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Players
          </h4>
          <% @game.players.each do |player| %>
            <%= render partial: 'player', locals: { player: player} %>
          <% end %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Current player
          </h4>
          <%= render partial: 'player', locals: { player: @game.current_player} %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Turn
          </h4>
          <%= @game.turn %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <%= render partial: 'map', locals: { fields: @tiles, places: []} %>
      </div>
    </div>
  </div>
</section>

<script>
shapeMap();
</script>
